@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* COMMON */
.container {
  max-width: 720px;
}

li {
  list-style: none;
}

/* uTILITY */

.d-flex {
  display: flex;
}

.j-space-b {
  justify-content: space-between;
}

.m-auto{
  margin: auto;
}

/* HEADER */

.nav {
  padding: 0.75rem 1rem 0 1rem;
  border-bottom: 1px solid #abadaf;
}

/* NAV-TOP */

/* nav-left */

.logo > img {
  vertical-align: middle;
  cursor: pointer;
}

.nav-text {
  padding: 0 0.25rem;
}

h4 {
  font-weight: 400;
  color: #5f6368;
}

/* nav-right */

.nav-right > .fa-th {
  font-size: 12px;
  padding: 0.5rem 1rem;
  color: #5f6368;
}

.user {
  width: 24px;
  height: 24px;
  background-color: orangered;
  border-radius: 50%;
}

.user:hover{
  cursor: pointer;
}

.user > p {
  padding: 0.05rem 0.45rem;
  color: white;
}

/* NAV-BOT */

.nav-bot > ul {
  margin-left: -1rem;
}

.nav-bot > ul > li {
  font-size: 11px;
  padding: 0.5rem 1rem 0.33rem;
  color: #5f6368;
  font-weight: 500;
  transition: 0.33s;
}

.nav-bot > ul > li:hover {
  cursor: pointer;
  transform: scale(1.055);
}

.nav-border-bot {
  color: #3367d6 !important;
  border-bottom: 2px solid blue;
}

/* MAIN */

main > .container {
  margin-top: 4.25rem;
}

.frequent-questions {
  margin-bottom: 2.22rem;
}

.question {
  font-size: 10.75px;
}
.question > h2 {
  font-weight: 600;
  padding-bottom: 1rem;
  color: #3c4043;
}

.answer > p {
  font-size: 11px;
}

/* FOOTER */

footer {
  height: 50px;
  background-color: #f5f5f5;
  line-height: 2.55;
  border-top: 1px solid #fefefe;
}

.left-side > ul > li{
  font-size: 9px;
  padding: .8rem .33rem 0;
  font-weight: 300;
  transition: .22s;
}

.left-side > ul > li:hover{
  transform: scale(1.15);
  cursor: pointer;
  font-weight: 400;
}

.right-side > select{
  width: 133px;
  height: 1rem;
  line-height: 1rem;
  font-size: 9px;
  margin-top: 1rem;
}

.fa-language{
  padding: 1rem .33rem 0;
  font-size: 19px;
}
